---
import { SEO } from "astro-seo";
import Footer from "@components/footer.astro";
import Navbar from "@components/navbar/navbar.astro";
import "@fontsource-variable/inter/index.css";
import Btn from "@components/btn.astro";
// export interface Props {
//    title: string;
// }
const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const resolvedImageWithDomain = new URL(
  "/images/same-day-appliance-repair-experts.webp",
  Astro.site,
).toString();
const { title, description } = Astro.props;
// const { title } = Astro.props;
// const makeTitle = title
//   ? title + " | " + "(424) 325-0520"
//   : "Same Day Appliance Repair Services";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <!--Bing Webmaster Tools -->
    <meta name="msvalidate.01" content="F2723BD576AB7FA778D3F53898576D0B" />
    <title>{title}</title>
  <meta name="description" content={description} />
    <!-- <link rel="preload" as="image" href={src} alt="Hero" /> -->
    <!--City Local 101 verification Code -->
    <meta name='citylocal101-verification' content='62654BWjbV4Z5wZcQOzmc' />
    <!-- сбор статистики 
    <script defer src="https://www.googletagmanager.com/gtag/js?id=G-F5MBY27XES"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "G-F5MBY27XES");
    </script>-->
    <!--Shcema json -->
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "LocalBusiness",
        "name": "Same Day Appliance Repair",
        "image": "https://samedayappliance.repair/images/same-day-appliance-repair-experts.webp",
        "url": "https://samedayappliance.repair/",
        "telephone": "+13238704790",
        "priceRange": "$$",
        "hasMap": "https://maps.app.goo.gl/o1PTfsdJeiBPjdu38",
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "8746 Rangely Ave",
          "addressLocality": "West Hollywood",
          "addressRegion": "CA",
          "postalCode": "90048",
          "addressCountry": "US"
        },
        "areaServed": [
          {
            "@type": "City",
            "name": "Los Angeles",
            "sameAs": "https://en.wikipedia.org/wiki/Los_Angeles"
          },
          {
            "@type": "City",
            "name": "Burbank",
            "sameAs": "https://en.wikipedia.org/wiki/Burbank,_California"
          },
          {
            "@type": "City",
            "name": "Alhambra",
            "sameAs": "https://en.wikipedia.org/wiki/Alhambra,_California"
          },
          {
            "@type": "City",
            "name": "Glendale",
            "sameAs": "https://en.wikipedia.org/wiki/Glendale,_California"
          },
          {
            "@type": "City",
            "name": "Pasadena",
            "sameAs": "https://en.wikipedia.org/wiki/Pasadena,_California"
          },
          {
            "@type": "City",
            "name": "South Pasadena",
            "sameAs": "https://en.wikipedia.org/wiki/South_Pasadena,_California"
          },
          {
            "@type": "City",
            "name": "Santa Monica",
            "sameAs": "https://en.wikipedia.org/wiki/Santa_Monica,_California"
          },
          {
            "@type": "City",
            "name": "Beverly Hills",
            "sameAs": "https://en.wikipedia.org/wiki/Beverly_Hills,_California"
          },
          {
            "@type": "City",
            "name": "Monterey Park",
            "sameAs": "https://en.wikipedia.org/wiki/Monterey_Park,_California"
          },
          {
            "@type": "City",
            "name": "Thousand Oaks",
            "sameAs": "https://en.wikipedia.org/wiki/Thousand_Oaks,_California"
          },
          {
            "@type": "City",
            "name": "Universal City",
            "sameAs": "https://en.wikipedia.org/wiki/Universal_City,_California"
          },
          {
            "@type": "City",
            "name": "West Hollywood",
            "sameAs": "https://en.wikipedia.org/wiki/West_Hollywood,_California"
          },
          {
            "@type": "City",
            "name": "San Marino",
            "sameAs": "https://en.wikipedia.org/wiki/San_Marino,_California"
          },
          {
            "@type": "City",
            "name": "Malibu",
            "sameAs": "https://en.wikipedia.org/wiki/Malibu,_California"
          }
        ],
        "openingHoursSpecification": {
          "@type": "OpeningHoursSpecification",
          "dayOfWeek": [
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday"
          ],
          "opens": "08:00",
          "closes": "20:00"
        },
        "sameAs": [
          "https://maps.app.goo.gl/o1PTfsdJeiBPjdu38"
        ]
      }
      </script>
      
    <style is:global>
      .H9lube img {
        width: 100% Im !important;
      }
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }

      .formbutton {
        background-color: #c2250a !important;
      }

      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p,
      a {
        color: #000;
      }

      /*---*/
      .review-card {
        margin: 10px;
        background-color: #f9f9f9;
        border: 1px #333 solid;
        border-color: #88898c;
        border-radius: 10px;
      }
      .review-card {
        padding: 20px;
      }
      .review-card__author {
        color: #5d5e5e;
      }


      h1 {
        display: inline-block;
        font-size: 60px;
        line-height: 66px;
        font-weight: 600;
        margin: 0 auto 0 auto;
      }
      .animate-charcter {
        font-family: "Times New Roman", Times, serif;
        text-transform: uppercase;
        background-image: linear-gradient(
          -225deg,
          #fff 0%,
          #000 15%,
          #111112 67%,
          #858384 100%
        );

        background-size: auto auto;
        background-clip: border-box;
        background-size: 200% auto;
        color: #fff;
        background-clip: text;
        text-fill-color: transparent;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: textclip 4s linear infinite;
        display: inline-block;
        font-size: 60px;
        line-height: 66px;
        font-weight: 900;
      }

      @keyframes textclip {
        to {
          background-position: 200% center;
        }
      }

      .items-start {
        border: 1px solid;
        border-radius: 18px;
        padding: 10px;
      }
      .img-header {
        border-radius: 15px;
        margin: 15px 20px 20px 0;
      }
      .img {
        border-radius: 15px;
        margin: 15px auto 15px auto;
      }
      p {
        margin: 10px;
      }
      h2 {
        margin-top: 25px;
        font-weight: 800;
        font-size: 25px !important;
      }
      h3 {
        margin-top: 25px;
        font-weight: 800;
        font-size: 22px;
      }
      .anchor {
        color: #0f77cc;
        font-size: 22px;
      }
      .anchor:hover {
        text-decoration: underline;
      }

      @media (min-width: 950px) {
        .two-col-grid {
          display: inline-grid;
        }
        .col-one {
          grid-column: 1;
        }
        .col-two {
          grid-column: 2;
        }
      }
      .col-one {
        margin: 0 20px 15px 0;
      }



  

     
      /* links */
      .services {
        padding: 10px 0 10px 0;
      }
    
    </style>

  <style is:global>

h1 {
    text-shadow: 2.3px 2.3px 3.7px rgb(21 21 21);
}

.animate-charcter {
    text-transform: uppercase;
    background-image: linear-gradient(-225deg,
            #fff 0%,
            #000 15%,
            #111112 67%,
            #858384 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 4s linear infinite;
    display: inline-block;
    font-size: clamp(35px, 7vw, 60px);
    line-height: clamp(56px, 8vh, 60px);
    font-weight: 900;
    text-shadow: 2.3px 2.3px 3.7px rgb(21 21 21);
}


h2 {
    margin: 0;
    text-align: center;
    font-size: clamp(24px, 5vw, 28px) !important;
    text-shadow: 1px 1px 1.3px #8f9499;
}


main {
    display: grid;
    position: relative;
    width: 100%;
    max-width: 100%;
}

.page-header {
    position: relative;
    display: grid;
    justify-self: center;
    width: 100%;
    overflow: hidden;
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 42%, rgba(255, 255, 255, 0.7478641114648985) 63%, rgba(255, 255, 255, 0) 100%);
}

.page-header-d-full {
    width: 100%;
    max-width: 1920px;
    justify-self: center;
    height: 100%;
    padding: 2% 3% 1% 3%;
}


.page-header-d {
    left: 0;
    width: 80%;
    position: relative;
    align-self: center;
}

@media (min-width:1440px) {
    .page-header-d {
        width: 50%;
    }

    .page-header-d-full {
        padding: 3% 3% 3% 3%;
    }

}

.page-header-f {
    position: absolute;
    width: 100%;
    z-index: -1;
    margin-left: 40%;
}

.page-header-f-rel {
    position: relative;
    display: grid;
}

.page-header-f-gradient {
    position: absolute;
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 53%, rgba(255, 255, 255, 0.8991246156665791) 68%, rgba(255, 255, 255, 0) 89%);
    margin-top: -15%;
    height: 33vh;
    width: 100vw;
}

.page-header-f img {
    max-width: 65%;
}


.page-header-p-full {
    max-width: 1920px;
    justify-self: center;
    padding: 0 3% 3% 3%;
    width: 100%;
    text-align: left;
}

.page-header-p {
    text-align: left;
    width: 100%;
}

.page-header-p p {
    color: #262626;
    font-weight: 400;
    font-size: clamp(16px, 3vw, 18px);
    max-width: 70%;
}


.page-header-p p:nth-child(2) {
    margin-top: 10px;
}

@media (max-width:1220px) {

    .page-header-p p:nth-child(2) {
        max-width: 100%;
    }

    .oven-page-header-p-full .page-header-p p:nth-child(2) {
        max-width: 70%;
    }

}

@media (max-width:1024px) {

.page-header-p-full {
    padding: 0 3% 3% 3%;
}

.page-header-f {
    position: relative;
    width: auto;
    z-index: 2;
    margin-left: 0;
    justify-self: center;
    margin: 7px 5% 17px 5%;
}

.page-header-f img {
    justify-self: center;
    border-radius: 10px;
    box-shadow: 4px 4px 13px 0 rgba(0, 0, 0, 0.35);
}

.page-header-f-gradient {
    display: none;
}

.page-header-d-full {
    padding: 2% 2%;
}

.page-header-d {
    width: 100%;
}


.page-header-p p {
    max-width: 100%;
}

.oven-page-header-p-full .page-header-p p:nth-child(2) {
    max-width: 100%;
}

}

@media (max-width:768px) { 

.page-header-f img {
    max-width: 100%;
}

.page-header-d-full {
    padding: 1% 0;
}

.page-header-d {
    left: 0;
    width: 96% !important;
    position: relative;
    display: grid;
    align-self: center;
    margin: 0 2% 0 2%;
    text-align: center;
}

.page-header-d h1 {
    margin-bottom: 0;
}

.animate-charcter {
    white-space: wrap;
}

}
.reviews {
    width: 100%;
    background-color: #000;
}

.reviews-header p {
    color: #fff;
    padding: 15px 10px 15px 10px;
    align-items: center;
    display: flex;
    margin: 0 !important;
    font-size:  17px;
}

.reviews-header {
    cursor: pointer;
    margin-top: -3px;
}

.reviews-content {
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    cursor: default;
}

.reviews-header a {
    color: #fff;
    transition: .25s;
    height: 100%;
    align-content: center;
}

.reviews-header a:hover {
    color: #ca0913 !important;
}





.header-licenses-foto {
    display: flex;
    padding: 0 10px 0 0;
}

.header-licenses-foto a {
    display: flex;
}

.header-licenses-foto img {
    padding: 0 3px;
    margin: 13px 0px;
}

@media (max-width:768px) {

    .reviews-content {
        display: grid;
    }

    .header-licenses-foto img {
        margin: 10px 3px;
    }

    .reviews-header p {
        padding: 10px 10px 5px 10px;
    }
}
::-webkit-scrollbar {
    width: 10px;
    height: 8px;
    background-color: #000000;
}

::-webkit-scrollbar-thumb {
    background: #ca0913;
    border-radius: 5px;
}



html {
    width: 100%;
    scroll-behavior: auto;
    overflow-y: scroll;
    scroll-behavior: smooth;
    
  
}

body {
    width: 100%;
    margin: 0 auto;
    position: relative;
    top: 0;
    margin-top: 126px;
}

.max-w-screen-xl {
    width: 100%;
    max-width: 100%;

}

.inside-reviews_header-full {
    max-width: 1920px;
    width: 100%;
    transform: translate(-50%, 0%);
    left: 50%;
    position: relative;
    background-color: #000;
}

.header-full {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 10px 10px 10px 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000;
    z-index: 2000;
}
.inside_header-full {
    display: flex;
    justify-content: space-between;
}


.py-2 {
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
}


.relative span,
.py-2 span {
    color: #fff;
}

.py-2:hover span {
    color: rgb(169 170 171);
}

.lg\:bg-white {
    background-color: rgb(0 0 0);
    white-space: nowrap;
    max-height: calc(100vh - 180px);
    overflow-x: hidden;
    overflow-y: auto;
}

.w-3 {
    color: #fff;
}

.text-slate-800 {
    color: #f2f4f7;
}

.gap-1:hover span {
    color: rgb(169 170 171);
}

.gap-4 {
    color: #fff;
    justify-content: space-between;
}

.gap-4 a {
    background-color: #ca0913;
    text-align: center;
    width: 100%;
    white-space: nowrap;
    color: #fff;
    transition: 0.25s;
    text-shadow: 1.2px 1.2px 2px black;
    border-radius: 7px !important;
}

.gap-4 a:hover {
    color: rgb(0, 0, 0);
}

.header-bootun {
    display: flex;
    align-self: center;
    margin: 0 6px;
    grid-gap: 0.5em
}

/*menu color white*/
.hover\:bg-gray-200 {
    font-weight: 700 !important;
    transition: 0.25s;
}

.hover\:bg-gray-200:hover {
    background-color: #ca0913;
    box-shadow: inset 0px 4px 6px 1px rgb(0 0 0 / 25%), 0px 6px 7px 0px rgb(0 0 0 / 11%), 0px 3px 11px 4px rgb(0 0 0 / 25%) !important;
}

.text-gray-800 {
    color: #fff;
}

.text-gray-600 {
    color: rgb(254 254 255);
}

.hover\:text-gray-900:hover {
    color: rgb(169 170 171);
}
/*Endmenu color white*/
button.hcp-button {
    background-color: #ca0913 !important;
}

button.hcp-button:hover {
    background-color: #ca0913 !important;
}

button.hcp-button {
    overflow-x: hidden !important;
    max-width: 148px;
    width: 100%;
    font-weight: 700 !important;
    line-height: 1.14;
    padding: 10px 24px !important;
    box-shadow: none;
    border-radius: 7px !important;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    border: 0;
    cursor: pointer;
    display: inline-flex;
    outline: 0;
    text-decoration: none;
    user-select: none;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    text-indent: 0px;
    text-shadow: none;
    align-items: center;
    overflow-x: hidden !important;
    justify-content: center;
    text-shadow: 1.2px 1.2px 2px black !important;
    transition: 0.25s !important;
    white-space: nowrap !important;
}

button.hcp-button:hover {
    color: #000;
    box-shadow: inset 0px 4px 6px 1px rgb(0 0 0 / 25%), 0px 6px 7px 0px rgb(0 0 0 / 11%), 0px 3px 11px 4px rgb(0 0 0 / 25%) !important;
}

.call-header {
    width: 214px;
    height: 100%;
    display: contents;
    border-radius: 7px;
    transition: 0.25s !important;
}

.call-header a:hover {
    box-shadow: inset 0px 4px 6px 1px rgb(0 0 0 / 25%), 0px 6px 7px 0px rgb(0 0 0 / 11%), 0px 3px 11px 4px rgb(0 0 0 / 25%) !important;
}

.call-header a {
    width: 100%;
    display: grid;
    padding: 10px 4px;
    white-space: nowrap;
    font-weight: 700 !important;
    border-radius: 7px !important;
    color: #fff;
    text-shadow: 1.2px 1.2px 2px black !important;
    align-self: center;
}

.lg\:gap-3 {
    gap: 0.20rem;
    align-self: center;
}

.logo-header img {
    max-width: 244px;
    transition: 0.25s;
}

.w-full {
    width: auto;
    grid-gap: 0.4em;
}

#astronav-menu svg {
    width: 34px;
    height: 34px;
    color: #fff;
    transition: 0.2s ease-in-out;
}

#astronav-menu svg:hover {
    color:#ca0913;
}

.header-menu-content li {
    align-content: center;
}

.astronav-dropdown svg {
    width: 100%;
    min-width: 15px;
    max-width: 15px;
}

.w-3 {
    width: 15px;
    height: 20px;
}

.header-bootun-1024 {
    display: none;
}
.call-header-1024 a {
    color: #fff;
    background-color: #ca0913;
    text-align: center;
    width: 100%;
    height: 100%;
    max-width: 400px;
    white-space: nowrap;
    color: #fff;
    transition: 0.25s;
    border-radius: 7px;
    padding: 10px 10px;
    font-size: 18px;
    font-weight: 700 !important;
    text-shadow: 1.2px 1.2px 2px black !important;

}
.header-bootun-1024:hover a {
    color: #000;
    box-shadow: inset 0px 4px 6px 1px rgb(0 0 0 / 25%), 0px 6px 7px 0px rgb(0 0 0 / 11%), 0px 3px 11px 4px rgb(0 0 0 / 25%) !important;

}

@media (max-width:1440px) {
    .header-bootun {
        display: grid;
    }


}

@media (max-width:1180px) {
    body {
        margin-top: 112px;
    }


    .logo-header img {
        max-width: 214px;
    }

    .w-full {
        grid-gap: 0.2em;
    }

    .call-header a {
        font-size: 14px;
    }

    button.hcp-button {
        padding: 10px 10px !important;
        font-size: 15px;
    }

}


@media (max-width:1024px) {

    .w-full::-webkit-scrollbar-thumb {
        background: #000000;
    }

    .w-full {
        grid-gap: 0.2em;
        max-height: calc(100vh - 86px);
        overflow-x: hidden;
        overflow-y: auto;
    }

    .block {
        display: flex;
    }

    .header-bootun-1024 {
        display: flex;
        align-self: center;
    }


    .mt-3 {
        margin: 10px 0;
    }

    body {
        margin-top: 84px;
    }

    .logo-header img {
        max-width: 150px;
    }

    button.hcp-button {
        margin: 0 !important;
    }



}

@media (max-width:1023px) {
    .inside_header-full {
        display: block;
    }
}

@media (hover: none) {
     svg:hover {
      color: initial;
      background-color: initial;
      fill: initial;
    }
  }

@media (max-width:768px) {

    h1 {
        font-size: clamp(35px, 6vw, 60px) !important;
        line-height: clamp(46px, 6vh, 60px) !important;
    }

    .animate-charcter {
        font-size: clamp(35px, 6vw, 60px) !important;
        line-height: clamp(46px, 6vh, 60px) !important;
    }

    #astronav-menu svg:hover {
        pointer-events: none;
    }
}




@media (max-width:400px) {

    .call-header-1024 a {
        width: 100%;
        max-width: 300px;
        white-space: wrap;
        padding: 2% 2%;
        font-size: 16px;
        justify-self: center;
        display: grid;

    }

    .hover\:bg-gray-200 {
        padding: 9px 4px !important;
        width: 216px !important;
    }

    .gap-4 {
        gap: 0.6rem;
    }

    .gap-4 button {
        max-width: 75px !important;
        padding: 12px 17px !important;
        justify-content: center !important;
    }

    .lg\:bg-white {
        white-space: wrap;
    }

}
.black-list li a{color:#000;}
  </style>


<!-- title={makeTitle} -->
    <SEO
    
      canonical={canonicalURL}
      twitter={{
        creator: "@surjithctly",
        site: "@web3templates",
        card: "summary_large_image",
      }}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: "website",
          title: `Same Day Appliance Repair`,
          image: resolvedImageWithDomain,
        },
        image: {
          alt: "Same Day Appliance Repair",
        },
      }}
    />
  </head>
  <body>
    <slot />
  </body>
</html>